{% extends 'base.html.twig' %}
{% block title %}{{parent()}} {{prenom}} !{% endblock %}


{% block body %}
<h2>Bienvenue à {{nom}} {{prenom}}</h2>

{# Code de vérification normal #}

{# {% if age >= 18 %}
    <p> Vous êtes majeur</p>
{% else %}
    <p> Vous êtes mineur</p>
{% endif %} #}


{# Même code de vérification mais en ternaire #}
{{ (age >= 18) ? 'Vous êtes majeur' : 'Vous êtes mineur' }}
{% endblock %}